* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3E4;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #6B4F4F;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Poppins', sans-serif;
}

.navbar li a {
    color: #FFF3E4;
}
/* 
.navbar li a:hover,
a:active {
    text-decoration: underline;
    color: #FFF3E4;
} */

.navbar img {
    width: 68px;
    margin-right: 20px;
}

.btn-login {
    background-color: #FFF3E4;
}

.btn-login:hover {
    opacity: 75%;
    background-color: #FFF3E4;
}

#abstract-bg {
    width: 30%;
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
}

.fa-user-circle-o {
    color: #FFF3E4;
}

span {
    font-size: 16px;
    color: #FFF3E4;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h1{
    text-decoration: underline;
    color: black;
}

#logo {
    width: 300px;
}

.col p {
    text-align: justify;
    color: black;
}

.footer {
    background-color: #483434;
    padding: 30px;
}

.footer img {
    width: 200px;
}

.footer table {
    color: #FFF3E4;
    font-family: 'Poppins', sans-serif;
}

.footer th {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
}

.footer td {
    padding-right: 10px;
    padding-bottom: 5px;
}

.footer h1 {
    color: #FFF3E4;
}