* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3E4;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #6B4F4F;
    height: 80px;
}

.navbar h1 {
    color: #FFF3E4;
    font-size: 45px;
    margin: 10px;
}

span {
    color: black;
}

.dashed {
    border-bottom: 2px dashed #483434;
}

/* .container {
    background-color: #EED6C4;
    z-index: 1;
} */

.card-body {
    background-color: #EED6C4;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

li:nth-child(2) {
    flex: 1;
}

.badge {
    height: fit-content;
    width: fit-content;
    border: 2px solid #212121;
    border-radius: 4px;
}

.fa {
    color: #212121;
}

li span {
    font-size: 20px;
}

.container-card {
    height: 178px;
}

.badge {
    width: 80px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.card-img {
    width: 170px;
    height: 178px;
    object-fit: cover;
    border-radius: 6px;
}

.fa-trash {
    position: absolute;
    right: 20%;
}

.quantity {
    position: absolute;
    right: 32%;
}

.navbar-end {
    background-color: #6B4F4F;
    height: 60px;
    bottom: 0px;
    position: fixed;
    z-index: 1000;
    color: white;
    opacity: 0.0;  
    transition: opacity 0.3s ease-in-out;
}

.navbar-end:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.btn-checkout, .btn-checkout:hover {
    background-color: #FFF3E4;
    color: black;
}

.modal-header {
    background-color: #6B4F4F;
    color: #FFF3E4;
}

.btn-back {
    background: none;
    border: none;
}

.fa-arrow-left {
    color: #FFF3E4;
}

.btn-wallet {
    border: none;
    background: none;
}

.modal-body, .modal-footer {
    background-color: #FFF3E4;
}

.btn-cancel, .btn-cancel:hover {
    color: #483434;
    border: 2px solid #483434;
}

.btn-ok, .btn-ok:hover {
    background-color: #6B4F4F;
    color: #FFF3E4;
}