* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3E4;
}

.navbar {
    background-color: #6B4F4F;
    font-family: 'Poppins', sans-serif;
    height: 80px;
}

i{
    margin: 20px;
    color: #FFF3E4;
}

.navbar h1{
    font-family: 'Fraunces', serif;
    color: #FFF3E4;
    font-size: 45px;
    margin: 10px;
}

.content{
    margin-top: 20px;
    margin-left: 370px;
    margin-right: 370px;
}

.profile {
    margin: 20px;
    display: flex;
    align-items: center;
}

.img-profile {
    display: flex;
    align-items: center;
}

img {
    width: 165px;
    height: 158px;
}

.username-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

button {
    margin-top: 10px;
    background-color: #6B4F4F;
    font-family: 'Poppins', sans-serif;
    color: #FFF3E4;
    border-radius: 10px;
    width:145px;
    height: 40px;
}

.btn-group{
    /* background-color: #6B4F4F; */
    font-family: 'Poppins', sans-serif;
    background-color: #FFF3E4;
    display: flex;
    align-items: center;


}

.btn{
    border: 1px solid #6B4F4F !important;
    padding: 5px 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #6B4F4F;
    color: white;
}

.nama-produk{
    font-family: 'Poppins', sans-serif;

}

.harga{
    font-family: 'Poppins', sans-serif;

}

.detail-order{
    margin-top: 20px;
    background-color: #EED6C4;
    border-radius: 10px; 
    height: 120px;
}

.detail-order img{
    height: 120px;
    width: 120px;
    border-radius: 10px;

}

.product-detail {
    display: flex;
    flex-direction: row;
    /* align-items: column; */
}

.jumlah-order {
    margin-top: 40px;
    margin-left: auto;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;

}

.trash-logo{
    margin-left: auto;
    margin-top: 20px;
}

.fa .fa-trash{
    color: #000000;

}
