* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6B4F4F;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #6B4F4F;
}

.row{
    display: flex;
}

.login-page {
    margin-left: 49px;
    flex: 1;
}

.login {
    color: #FFF3E4;
    letter-spacing: 2px;
    margin-top: 79px;
    margin-left: 49px;
    margin-bottom: 39px;
    font-size: 60px;
}

.signup {
    color: #FFF3E4;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 49px;
    margin-bottom: 39px;
    font-size: 60px;
}

.input-user {
    width: 340px;
    height: 40px;
    border-radius: 6px;
    margin-left: 49px;
    margin-top: 10px;
    border: 3px;
    background-color: #FFF3E426;
    border: 3px solid #FFF3E4
}

label {
    margin-left: 49px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.btn-login {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 49px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    border: 3px solid #FFF3E4;
}

.btn-login:hover {
    color: #000000;
    border: 3px solid #63513a;
}

.sign-up {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-left: 49px;
    text-decoration: none;
}

.img-logo{
    display: flex;
    flex: 1;
    margin: 80px;
    justify-content: center;
    align-items: center;
}

img {
 width: 460px;
}

.invalid-feedback {
    margin-left: 49px;
    color: rgb(223, 8, 8);  
    font-size: 14px;
}