* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3E4;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    font-family: 'Poppins', sans-serif;
}

.navbar h5 {
    color: white;
}

.navbar img {
    width: 68px;
    margin-right: 20px;
}

#abstract-bg {
    width: 40%;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}

.search {
    display: flex;
    justify-content: flex-end;
}

.btn-search {
    color: #FFF3E4;
    background-color: #6B4F4F;
    height: 45px;
}

input .form-control{
    height: 20px;
}

.form-control {
    border: 2px solid #6B4F4F;
    height: 45px;
}

.btn-search:hover {
    color: #FFF3E4;
    background-color: #6B4F4F;
}

#card{
    border-radius: 5px;
    z-index: 1;
    background-color: #EED6C4;
}

ul {
    list-style-type: none;
}

.navbar-nav li:nth-child(2) {
    flex: 1;
}

.list {
    height: fit-content;
    width: fit-content;
    border: 2px solid #212121;
    border-radius: 4px;
}

.fa {
    color: #212121;
}

li span {
    font-size: 20px;
}

.order li:nth-child(3) {
    flex: 1;
}

.card-img {
    width: 170px;
    height: 156px;
    object-fit: cover;
    border-radius: 6px;
}

.dashed {
    border-bottom: 2px dashed #483434;
}

.category-menu {
    width: 80px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.category-menu:hover {
    border: 1px solid white;
}

.category-menu.active {
    width: 80px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 100;
        color: white;
        font-family: 'Poppins', sans-serif;
        border: 1px solid white;
}

.type {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detail-order{
    margin-top: 20px;
    border-radius: 10px; 
    height: 120px;
}

.detail-order img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.product-detail {
    background-color: #EED6C4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 50px;
    border-radius: 8px;
    margin-top: 30px;

}

.detail-order i{
    color: #000000;
    margin-right: 30px;
}

.title-menu{
    font-family: 'Fraunces', serif;
    margin-top: 120px;
    margin-left: 120px;
    margin-bottom: 30px;
}

.content{
    display: flex;
    flex-direction: row;
}

.field-edit{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    flex-grow: 1;  
}

.field-name, .field-price, .field-category{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 15px;
    background-color: #EED6C4;
    margin: 0px 45px 10px;
    border-radius: 4px;
}

.field-desc{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 15px 15px 60px;
    background-color: #EED6C4;
    margin: 0px 45px 10px;
    border-radius: 4px;

}

.content button{
    display: flex;
    justify-content: end;
    margin-left: auto;
    background-color: #D9D9D9;
    border: 0;
}

.field-edit i{
    display: flex;
    justify-content: end;
    margin-left: auto;
    background-color: #D9D9D9;
    border: 0;
}

.edit-logo{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.edit-logo .fa-trash{
    margin-inline-start: 20px;
}

.edit-logo .fa-pencil-square-o{
    margin-inline-start: 130px;
}

.btn-group{
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 30px 40px 0px;
}

#btn-save{
    background-color: #6B4F4F;
    width: 95px;
    height: 35px;
    border-radius: 5px;
    color: #FFF3E4;
    font-family: 'Poppins', sans-serif;
    margin: 0px 10px 0px;

}

#btn-cancel{
    background-color: #FFF3E4;
    width: 95px;
    height: 35px;
    border: 2px solid #6B4F4F;
    border-radius: 5px;
    color: #6B4F4F;
    font-family: 'Poppins', sans-serif;
    margin: 0px 10px 0px;
}

.form-control-1, .form-select{
    display: flex;
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 15px;
    background-color: #EED6C4;
    margin: 0px 0px 10px 45px;
    border-radius: 4px;
    border: 2px solid #6B4F4F;
}

.form-control-desc{
    display: flex;
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 15px 15px 60px;
    background-color: #EED6C4;
    margin: 0px 0px 10px 45px;
    border-radius: 4px;
    border: 2px solid #6B4F4F;
}

.input-group-text, .form-select{
    background-color: #EED6C4;
    padding: 15px;
    margin: 0px 45px 10px;
    border-radius: 4px;
    border: 2px solid #6B4F4F;
}

.add-img{
    width: 250px;
    height: 285px;
    border-radius: 10px;
    margin-left: 120px;
    border: 3px solid #483434;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.act-btn {
    background-color: #483434;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    text-decoration: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
}

.modal-content {
    background-color: #FFF3E4;
}

.order-image {
    width: fit-content;
    height: fit-content;
    border: solid 2px #6B4F4F;
    padding: 10px;
}

.order-image img {
    width: 200px;
}

.btn-cancel,
.btn-cancel:hover {
    color: #483434;
    border: 2px solid #483434;
}

.btn-verifikasi,
.btn-verifikasi:hover {
    background-color: #6B4F4F;
    color: #FFF3E4;
}